<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
<html>
    <head>
        <title>Reusable Form Demo</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>

<style type="text/css">
	div.container {
		margin-left: 15% ;
		margin-right: 15% ;
		padding: 10px ;
		background-color: white ;
	}
</style>

<style>
.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.links line {
  stroke-opacity: 0.9;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 5.5px;
}

</style>

    <body>
 
 
<div class="container">
 
  <h2>Associations Graph Input Form</h2>
  <h3>Written in Flask, Python, HTML</h3>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
      <br>
      <label for="predicate">Predicate:</label>
      <select class="form-control" id="predicate" name="predicate">	
		<option value="connected.to.org">connected.to.org</option>
		<option value="connected.to.project">connected.to.project</option>
		<option value="has.degree">has.degree</option>	
		<option value="employed.by">employed.by</option>	
		<option value="has.ability">has.ability</option>
		<option value="has.title">has.title</option>	
		<option value="related.to">related.to</option>	
		<option value="friends.with">friends.with</option>	
      </select>
      <br>
      <label for="object">Object:</label>
      <input type="text" class="form-control" id="object" name="object" placeholder="Object"> 
    </div>
    <button type="submit" class="btn btn-success">Add to Graph</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
<div class="container" id="bottom" >
</style>
<svg width="1200" height="500"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
   .force("charge", d3.forceManyBody())
    .force("center", d3.forceCenter(width / 2, height / 2));

d3.json("static/graphFile.json", function(error, graph) {
  if (error) throw error;

  var link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke", function(d) { return color(d.value); })
      .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

var node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
      .attr("r", 10)
      .attr("fill", function(d) { return color(d.group); })
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  node.append("title")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.id });

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }
});

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

</script>
</div>
</body>
</html>
